[submodule "output"]
	path = output
	url = git@github.com:Ajoo/ajoo.github.io.git
[submodule "themes/pelican-blueidea"]
	path = themes/pelican-blueidea
	url = git@github.com:Ajoo/pelican-blueidea.git
